/*
    ==============================
    contrast.css — Alto contraste
    ==============================
*/

@import url("styles.css");

body {
  background-color: #000;
  color: #000;
}

a {
  color: #00ffff;
}
a:hover {
  background-color: #ffff00;
  color: #000;
}

header, footer {
  background-color: #000;
  border-bottom: 3px solid #fff;
}

button, input, select, textarea {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
}
